<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/chat-list"></ion-back-button>

    <ion-title>Chat Individual</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>{{ message.sender }}</ion-label>
      <ion-text>{{ message.text }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe tu mensaje"></ion-input>
    <ion-button expand="full" (click)="sendMessage()">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>